// Colors

$primary-dark: #000000;
$secondary-grey: #727273;
$grey-3: #828282;
$secondary-grey-lighter: #f5f5f5;
$secondary-dark: #434345;
$primary-yellow: #ecc337;
$white: #ffffff;

// Font Weights
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 500;
